{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login_form.css' %}">
{% endblock %}
{% block content %}
    <div class="block-form">
    <div class="errs-block">
    {% for errors in form.errors.values %}
                {% for error in errors  %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
    </div>
        <div class="forms-conteiner">

            <form action="{% url 'login' %}" class="login-form" method="post" id="login-form">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.errors }}
                    {{ form.username.label_tag }} {{ form.username |add_class:"form-control" }}
                </div>
                <div class="form-group">
                    {{ form.password.errors }}
                    {{ form.password.label_tag }} {{ form.password |add_class:"form-control" }}
                    <input type="hidden" name="next" value="{{ next }}">
                </div>


                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                    <div class="password-reset-link">
                        <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
                    </div>
                {% endif %}
                <div class="submit-row">
                    <input type="submit"  class="btn btn-secondary" value="login">
                </div>
            </form>
        </div>
    </div>
{% endblock %}