{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block scrtip_top %}
    {{ block.super }}

    <script src="{% static 'js/ajax_sender.js' %}"></script>
    <script src="{% static 'js/tables/render_tables.js' %}"></script>
    <script src="{% static 'js/tables/settings_tables.js' %}"></script>
    <script src="{% static 'js/tables/logic_tables.js' %}"></script>
    <script src="{% static 'js/init_tables.js' %}"></script>

{% endblock %}

{% block conteiner %}
    <div class="content">

        <div class="tables">
            <div class="card cart-user">
                <div class="global-err-message"></div>
                <div class="card-header">
                    <div>User</div>
                    <div class="add-user-modal">
                        <input class="btn btn-outline-dark btn-sm" type="button"  value="Add user" data-toggle="modal" data-target="#user-add-modal">
                        <div class="modal fade" id="user-add-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Add user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form id="add-user-form" action="">

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="username" >Username:<span class="star">*</span></label>
                                                <input class="form-control" type="text" id="username" name="username" required>
                                                <div id="add-err-username">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Password:<span class="star">*</span></label>
                                                <input class="form-control" type="password" id="password" name="password" required>
                                                <div id="add-err-password">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="password_two">Password:<span class="star">*</span></label>
                                                <input class="form-control" type="password" id="password_two" name="password_two" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="first_name">First name:<span class="star">*</span></label>
                                                <input class="form-control" type="text" id="first_name" name="first_name" required>
                                                <div id="add-err-first_name">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="lats_name">Last name:<span class="star">*</span></label>
                                                <input class="form-control" type="text" id="lats_name" name="last_name" required>
                                                <div id="add-err-last_name">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email:<span class="star">*</span></label>
                                                <input class="form-control" type="email" id="email" name="email" required>
                                                <div id="add-err-email">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="add_user" class=" table-btn btn btn-primary">Save changes</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="custom-scrollbar overflow-auto" data-spy="scroll" data-offset="0" >
                    <form id="table-edit-form" action="">
                        <table id="table-user"  class="table ">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>User name</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Email</th>
                                <th>Is active</th>
                                <th>Edit user</th>
                            </tr>
                            </thead>
                            <tbody id="body-table-users">

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div class="card restaurant-cart">
                <div class="global-err-message"></div>
                <div class="card-header">
                    <div>Restaurant</div>
                    <div class="add-restaurant-modal">
                        <input class="btn btn-outline-dark btn-sm" type="button"  value="Add restaurant" data-toggle="modal" data-target="#Restaurant-add-modal">
                        <div class="modal fade" id="Restaurant-add-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Add restaurant</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form id="add-restaurant-form" method="PUT" enctype="multipart/form-data" action="">

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="restaurant-name" >Restaurant name:<span class="star">*</span></label>
                                                <input class="form-control" type="text" id="restaurant-name" name="name" required>
                                                <div id="add-err-name">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="restaurant-notes"></label><textarea name="notes" id="restaurant-notes" cols="30" rows="10"></textarea>
                                                <div id="add-err-notes">
                                                    <ul class="err-message"></ul>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="restaurant-notes-img">Logotype:</label>
                                                <input class="" type="file" id="restaurant-notes-img" name="logo">
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="add_restaurant" class=" table-btn btn btn-primary">Save changes</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  class="custom-scrollbar overflow-auto" data-spy="scroll" data-offset="0" >
                    <form id="table-edit-form-restaurant" action="">
                        <table id="table-restaurant"  class="table ">
                            <thead>
                            <tr>
                                <th>Logo</th>
                                <th>Name</th>
                                <th>Notes</th>
                                <th>Edit restaurant</th>
                            </tr>
                            </thead>
                            <tbody id="body-table-restaurant">

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>






    </div>
{% endblock %}

