{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin_panel.css' %}">
{% endblock %}

{% block scrtip_top %}
    {{ block.super }}
    {#    <script src="{% static 'js/jquery.tmpl.min.js' %}"></script>#}

{% endblock %}


{% block content %}

    <div class="table-user">
        <input class=" " type="button"  value="Add user" data-toggle="modal" data-target="#exampleModal">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="add ">
                            <div class="form_add"><input class="form-control" type="text" id="username" name="username" required></div>
                            <div class="form_add"><input class="form-control" type="password" id="password" name="password" required></div>
                            <div class="form_add"><input class="form-control" type="password" id="password_two" name="password_two" required></div>
                            <div class="form_add"><input class="form-control" type="text" id="first_name" name="first_name"></div>
                            <div class="form_add"><input class="form-control" type="text" id="lats_name" name="lats_name"></div>
                            <div class="form_add"><input class="form-control" type="email" id="email" name="email"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="add_user" class=" table-btn btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table id="example"  class="table table-bordered table-striped mb-0">
            <thead>
            <tr>
                <th>Id</th>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Ban user</th>
                <th>Edit user</th>
            </tr>
            </thead>
            <tbody id="body-table">

            </tbody>
        </table>
    </div>
    </div>

{% endblock %}


{% block script_body %}
    {{ block.super }}




    <script>

        $(document).ready(function() {


            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');



            function render_table_row(item,update=false){
                let $row = $(`<tr id="row_${item.pk}">`);
                $row.append(
                    `<td class="fild">${item.pk}</td>`+
                    `<td class="fild">${item.username}</td>`+
                    `<td class="fild">${item.first_name}</td>`+
                    `<td class="fild">${item.last_name}</td>`+
                    `<td class="fild">${item.email}</td>`
                )
                if(item.is_active === true){
                    $row.append(`<td><input class="table-btn edit-ban btn  btn-outline-danger" logic="true" type="button" id="ban_${item.pk}" value="Ban"> </td>`)
                }else {
                    $row.append(`<td><input class="table-btn edit-ban  btn btn-outline-success" logic="false" type="button" id="ban_${item.pk}" value="Unban"> </td>`)
                }
                $row.append(
                    `<td><input class="table-btn edit-btn btn btn-outline-primary" type="button" id="edit_${item.pk}" value="Edit user"></td>`
                );
                if(update === true)
                    $(`#row_${item.pk}`).replaceWith($row)
                else
                    $("#body-table").append($row);

            }


            function edit_user(user,data){
                $.ajax({
                    url: `/lunch/users/${user}/`,
                    method: 'PUT',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    data: JSON.stringify(data),
                    success: function (data){
                        render_table_row(data,true)
                        grop_button_init();

                        console.log(data)


                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }

            function grop_button_init(){
                initial_buton()
                ban_user()
                add_user_btn()
            }

            function add_user_btn(){
                $("#add_user").click(function (){
                    if($("#password").val() === $("#password_two").val()){
                        let data = {
                            username: $("#username").val(),
                            password:  $("#password").val(),
                            first_name: $("#first_name").val(),
                            last_name: $("#lats_name").val(),
                            email: $("#email").val()
                        }
                        add_user(data)
                    }
                })
            }


            function add_user(data){
                $.ajax({
                    url: `/lunch/users/`,
                    method: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    data: JSON.stringify(data),
                    success: function (data){
                        render_table_row(data)
                        grop_button_init();
                        console.log(data)
                    },
                    error: function (err){
                        console.log(err)
                    }
                })
            }



            function initial_buton(){
                let btn =  $(".edit-btn")
                btn.off('click');
                btn.click(function (){
                    let id_edit = $(this).attr("id").replace('edit_','')
                    let row = $(`#row_${id_edit}`)
                    if($(this).val() === 'Edit user' ){
                        let node_row = $(row.children("td"))
                        for(let i =1;i<5;i++){
                            $(node_row)[i].innerHTML = `<td><input class="fild_text form-control" value="${$(row.children("td")[i]).text()}" type="text"></td>`
                        }
                        $(this).val("Edit save")
                    }else {
                        let node = $(row.children("td"))
                        let data = {
                            username:$($(node[1]).children("input")[0]).val(),
                            first_name:$($(node[2]).children("input")[0]).val(),
                            last_name:$($(node[3]).children("input")[0]).val(),
                            email:$($(node[4]).children("input")[0]).val(),
                        }
                        edit_user(id_edit,data)
                        $(this).val("Edit user")
                    }

                });
            }

            function ban_user(){
                let btn = $(".edit-ban")
                btn.off()
                btn.click(function (){
                    let chel = $(this).attr("logic");
                    let id_edit = $(this).attr("id").replace('ban_','')
                    data = {
                        is_active: chel=='false'
                    }
                    edit_user(id_edit,data)
                });

            }

            $.ajax({
                url: '/lunch/users/',
                method: 'get',
                dataType: 'json',
                success: function (data){
                    data.forEach(function (item){
                        render_table_row(item)
                    })
                    grop_button_init();

                },
                error: function (err){
                    console.log(err)
                }
            })




        });
    </script>

    <script>

    </script>

{% endblock %}
{#                    $.get("/lunch/users/",function (data){console.log(data)})#}
