{% extends 'base.html' %}
{% load static %}
{% block title %}Voting page{% endblock %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
{% endblock %}

{% block scrtip_top %}

    {{ block.super }}

    <script src="{% static 'js/ajax_sender.js' %}"></script>
    <script src="{% static 'js/main_page.js' %}"></script>

{% endblock %}
{% block name_page %} <h3>Voting</h3> {% endblock %}

{% block content %}
    <div class="status-vote border" >

    </div>

    {% if not user.is_authenticated %}
        <div class="voting-message">
            <div class="message">
                <h1 class="">Pleas login: <a href="{% url 'login' %}">Login</a></h1>
            </div>
        </div>
    {% endif %}

    <form id="voting" action="">
        <div class="voting-message"></div>
        <div class="row border row-cols-1 row-cols-md-3 list-card">

        </div>
    </form>



{% endblock %}