.custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
    /*width: 693px;*/
    /*width: fit-content;*/
    width: 100%;
}
.table-wrapper-scroll-y {
    display: block;
}
.fild_text{
    max-width: 100px;
    max-height: 25px;
    margin: 5px;
}
.tables{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /*grid-template-columns: minmax(auto,700px) minmax(auto,437px);*/
    justify-items: center;
    grid-auto-columns: auto;
    grid-row-gap: 10px;
}
.content{
    margin: 5px;
}
.cancel-bt{
    margin-left: 5px;
}
.card{
    /*width: 693px;*/
    width: fit-content;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
td{
    text-align: center;
    font-size: 12px;
}

th{
    text-align: center;
    font-size: 14px;
}
.btn-sm{
    font-size: 10px;
}
td{
    height: 42px;
}
.field >input{
    font-size: 10px;
    height: 28px;
    margin-left: 2px;

    text-align: center;
}
.err-message{
    color: red;
    padding: 0px;

}
.err-message > li{
    font-size: 10px;
}
li:before {
    content: "•";
    margin-right: 5px;
}

li {
    list-style-type: none;
}
.table td, table th{
    padding: 2px;
    vertical-align: center;
}
.control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 115px;
}

.size{
    width: 80px;
}
.fild_text{
    font-size: 12px;
    text-align: center;
}
label.required:after
{
    color: red;
    content: " *";
}

.btn-group{
    margin-top: 5px;
}
.control-btn{
    min-height: 29px;
}
.checkbox-status-user{
    margin-top: 4px;
}
.table-btn{
    margin-top: 6px;
}
.star{
    color: red;
}
.table th{
    white-space: pre;
}
.table>thead th{
    border-bottom:none
}
tr{
    width: 41px;
}
.status-user{
    margin-top: 7px;
}
#table-restaurant  .btn-group{
    margin-top: 6px;
}
/*#table-restaurant  input{*/
/*    max-width: 70px;*/
/*}*/

.restaurant-logotype-img{
    width: 49px;
}
label{
    text-align: center;
    vertical-align: sub;
    margin-top: 9px;
}
.btn-group{
    margin-top: 5px;
}
.restaurant-cart{
    max-width: 437px;
    width: 100%;
    display: grid;
    grid-column: span 2;
}
#table-restaurant td{
    min-width: 104px;
}
#table-restaurant label:not(:disabled):not(.disabled){
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.cart-user{
    max-width: 704px;
    width: 100%;
    display: grid;
    grid-column: span 2;
}
.card-header{
    min-width: 308px;
}