.restaurant-logotype-img{
    height: 30px;
}
/*.list-group{*/
/*    width: 300px;*/
/*}*/
.card-header{
    display: flex;
    justify-content: space-between;
}
img{
    margin: auto;
}
.card{
    display: block;
    cursor: pointer;

}
.container-img{
    display: flex;
}
/*.card :hover{*/
/*    background: rgba(0,0,0,.15);*/
/*}*/
.menu{
    padding: 5px;
    border-top: 1px solid #dee2e6;
    width: 100%;
}
.card-title{
    text-align: center;
}
.card-text{
    white-space: pre-wrap;
    font-size: 12px;
    font-style: italic;
}
.voting-message{
    text-align: center;
}
.list-card{
    justify-content: center;
}
.col{
    max-width: 300px;
}
.menu{
    min-height: 150px;
}
.card-img-progess{
    width: 40px;
}

.progress{
    width: 100%;
}
.progress-content{
    display: flex;
    align-items: center;
}
.restaurant-name{
    white-space: pre;
    margin-right: 5px;
}
.progress-header{
    display: flex;
    align-items: center;
    margin-top: -24px;
}
.progress-body{
    width: 100%;
}
/*.progress-bar:nth-child(1){*/
/*    background-color: red;*/
/*}*/
.container{
    height: 100%;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.border{
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;;
    border-radius: 5px;
}
.row{
    margin-left: 0;
}
